

.upload-container{
              background-color: cornflowerblue;
              display: flex;
              justify-content: left;
              border: 1px solid black;

          }

.grids-container{
             background-color: grey;
             display: flex;
             border: 1px solid black;

         }



.config-add {
              display: flex;

              height: 80px;
              position: relative
          }


.category-add {
                display: flex;

                height: 80px;
                position: relative
            }


.filepond {
    position: relative;
    top: 0;
    width: 200px;
}


.text-field{
            position: relative;
            left: 50px;
            top: 65px;
        }


.add-config-button{
                    position: relative;
                    left: 55px;
                    top: 90px;
                    width: 100px;
                    height: 30px;
                }
