
.button-container {
    display: flex;
    justify-content: left;
    background-color: lightsteelblue;
}


.divider-salary{
    background-color: cornflowerblue;
}


.divider-hours{
    background-color: grey;
}



.jq-date-picker{
    position: relative;
    top: 10px;
}

.date-message {
    position: relative;
    top: 10px;
    left: 25px;
}