.simple-dialog-title{
    color: blue;
}



.upload-container {
    background-color: cornflowerblue;
    display: flex;
    justify-content: left;
    border: 1px solid black;

}

.grids-container {
    background-color: grey;
    display: flex;
    border: 1px solid black;

}


.config-add {
    position: relative
}


.category-add {
    position: relative
}


.filepond {
    position: relative;
    top: 0;
    width: 200px;
}


.spending-text-field {
    float: left;
    /*left: 50px;*/
    top: 50px;
    width: 300px;
}



.add-config-button-personal-spending {

    top:30px;
    position: absolute;
}


.combo-box-spender-config{
    position: relative;
    top: 15px;
    left: 310px;
}
